
.nav-modal-container:hover {
  visibility: visible;
}

.nav-modal-container {
  position: fixed;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 
  0px 0px 4px rgba(0, 0, 0, 0.08);
  background-color: white;
}

.modal-list-item {
  background-color: white;
  display: flex;
  padding: 6px;
}

.modal-list-item:hover {
  background-color: #316ECA;
}
.modal-list-item:hover a {
  color: white;
}

.nav-modal-container::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 12px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgb(255, 255, 255);
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 0px -2px 1px);
}

#discover-modal {
  top: 65px;
  left: 229px;
}

#collection-modal {
  top: 65px;
  left: 350px;
}

#user-modal {
  top: 70px;
  right: 137px;
}

.nav-pseduo {
  margin-left: 24px;
  cursor: pointer;
}

.down-arrow-wrapper, .right-arrow-wrapper {
  display: flex;
  box-sizing: border-box;
  place-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-left: 8px;

}

.fa-angle-down {
  color: #909091;
}

.dropdown-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: baseline;
  cursor: pointer;
}

.modal-on {
  /* animation: growIn 200ms ease-in-out; */
  visibility: visible;
}

.modal-off {
  /* animation: shrinkOut 200ms ease-in-out ; */
  visibility: hidden;
}

@keyframes growIn {
  0% {
    opacity: 0%;
    transform: scaleY(0.75);
    top: 30px;
  }
  100% {
    opacity: 0%;
    transform: scaleY(1);
    top: 65px;
  }
}

@keyframes shrinkOut {
  0% {
    opacity: 100%;
    transform: scaleY(1);
    top: 65px;
  }

  100% {
    opacity: 0%;
    transform: scaleY(0.75);
    top: 30px;
  }
}