.home-feed-container, .collection-feed-gallery {
  grid-column: 1 / span 12;
  margin-bottom: 160px;
  background-color: #F7F8FA;
  box-sizing: border-box;
}

.collection-feed-gallery {
  padding-top: 2rem;
}
.home-feed-gallery {
  position: relative;
  box-sizing: border-box;
  width: 100%;
}

.photo-index-item {
  max-width: 400px;
  height: auto;
}

.photo-index-item > img{
  width: 400px;
  height: auto;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
}

.discover-nav::-webkit-scrollbar {
  display: none;
}

.discover-nav {
  grid-column: 1 / span 12;
  flex-wrap: nowrap;
  width: 100%;
  position: sticky;
  top: 70px;
  z-index: 350;
  background-color: rgb(255, 255, 255);
  overflow-x: scroll;
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding-left: 16px;
  padding: 0 64px;
  height: 51px;
}

.disc-tab {
  display: flex;
  flex: 0 0 auto;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  padding: 0px 8px;
}

.disc-link {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  box-sizing: border-box;
  height: 36px;
  font-weight: bold;
  color: rgb(109, 115, 120);
  font-size: 16px;
  cursor: pointer;
}

.disc-link.active, .disc-link:hover {
  color: rgb(8, 112, 209);
  font-weight: bold;
  box-shadow: rgb(8 112 209) 0px -2px inset;
}

.liked-photos-empty-container {
  box-sizing: border-box;
  word-break: break-word;
  max-width: 100%;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  padding-top: 24px;
  padding-bottom: 350px;
}

.no-likes-icon-container {
  box-sizing: border-box;
  word-break: break-word;
  max-width: 100%;
  position: relative;
  height: 48px;
  width: 48px;
}

.no-likes-icon-container svg > path {
  fill: rgb(109, 115, 120);
}

.no-likes-icon-container svg  {
  height: 48px;
  width: 48px;
  overflow: hidden;
}

.no-likes {
  text-align: center;
  text-transform: none;
  color: rgb(109, 115, 120);
  max-width: 580px;
}

.no-likes.header {
  font-size: 24px;
  line-height: 28px;
  font-weight: bold;
  margin: 32px 0px 24px;
}

.no-likes.subheader {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: none;
  margin: 0px 0px 24px;
}