.home-feed-container {
  grid-column: 1 / span 12;
}
.home-feed-gallery {
  position: relative;
  top: 60px;
}

.photo-index-item {
  max-width: 400px;
  height: auto;
}

.photo-index-item > img{
  width: 400px;
  height: auto;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
}
