.profile-cover-container, .collection-cover-container {
  position: relative;
  margin-bottom: 32px;
  max-width: 100%;
  width: 100%;
  grid-column: 1 / span 12;
}

.profile-cover-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

.cover-img-box.profile {
  width: 100%;
}

.cover-img-box {
  height: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.profile-show-container, .collection-container {
  grid-column: 1 / span 12;
}
.profile-avatar-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100px;
  top: 315px;
}

.avatar-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 95px;
  width: 95px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(213, 213, 213);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  transition: all 250ms ease-in;
}

.avatar-wrapper.profile {
  position: absolute;
  background-color: rgb(213, 213, 213);
}

.avatar-wrapper-sm{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
}

.avatar-box-lg {
  position: absolute;
  bottom: -55px;
  width: 95px;
  height: 95px;
  /* background-color: rgb(213, 213, 213); */
}

.avatar-box {
  z-index: 50;
}

.avatar-img {
  height: 100%;
  width: auto;
}

.profile-details-container {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0 auto;
  max-width: 1440px;
}

@media (min-width: 1200px) {
  .profile-details-container {
    padding: 0 64px 0 64px;
  }
}

@media (min-width: 768px) {
  .profile-details-container {
    padding: 0 32px 0 32px;
  }
  
}

.profile-loader-container {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 56px;
  margin-bottom: 28px;
}

.profile-action-icons {
  -webkit-box-pack: end;
  justify-content: flex-end;
  display: flex;
  max-width: 100%;
  align-items: flex-start;
  margin-bottom: 16px;
}

.profile-header-container, .collection-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  word-break: break-word;
  max-width: 100%;
  margin-bottom: 8px;
  gap: 8px;
}

.collection-header {
  margin-bottom: 2rem;
}

.profile-bio-and-stats-container {
  word-break: break-word;
  max-width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  margin-top: 16px;
  margin-bottom: 28px;
  flex-direction: column;
  gap: 4px;
}

.profile-about {
  text-align: center;
  max-width: 560px;
  margin: 0px;
  text-transform: none;
}
.profile-wrapper {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: 0 auto;
}

.profile-location, .photo-location {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  margin: 0px;
  color: rgb(34, 34, 34);
  border-bottom: 1px dashed rgb(34, 34, 34);
}

.profile-header-container > .follow-button {
  margin-top: 16px;
}

#profile-gallery-box {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  word-break: break-word;
  padding: 8px 16px 64px;
  background-color: rgb(247, 248, 250);
}

.profile-stats-section {
  padding: 1rem 0;
  gap: 0.25rem;
  font-size: 14px;
  color: #222222;
}

.profile-stats-wrapper {
  gap: 2rem;
}

/* .stats-reg {

} */

.social-links {
  gap: 1rem;
}

.stats-bold {
  font-weight: 700;
}

/* .cover-input-wrapper {
  
} */

.collection-description {
  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, FreeSans, Arial, sansserif;
  max-width: 560px;
  max-width: 560px;
}

.curated-by {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
}