.landing-image-header {
  background-image: url('https://my5000px-static.s3.amazonaws.com/2000px/brooklyn-bridge.jpg');
  background-size:cover;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  #editors-gallery {
    padding: 32px;
  }
}
@media screen and (min-width: 1024px) {
  #editors-gallery {
    padding: 32px 64px 24px 64px;
  }
}

.landing-gallery-header span {
  text-align: center;
}

.editors-img-gallery-row {
  display: flex;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  max-width: 1330px;
  width: 100%;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
}

.editors-box {
  display: block;
  width: 100%;
  position: relative;
  margin-top: 8px;
}

#editors-gal-landing {
  margin: 0 auto 0 auto;
  padding: 16px;
}

.editors-gal-img {
  vertical-align: middle;
  border-style: none;
  box-sizing: border-box;

  height: auto;
  width: 100%;
}

.img-attribution-link {
  padding-left: 10px;
  color: white;
  position: absolute;
  bottom: 0px;
  width: calc(100% - 10px);
  height: 32px;
  opacity: 0%;
  z-index: 10;
}

.img-attribution-link:hover {
  background-image: linear-gradient(transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  opacity: 100%;
  color: white;
  transition: opacity 0.2s ease 0s;
}


/* desktop */
/* 
@media (min-width: 1280px) {
  .editors-gal-img {
    max-height: 294px;
  }
}

@media (min-width: 1207px) {
  .editors-gal-img {
    max-height: 272px;
  }
}

@media (min-width: 1024px) {
  #editors-gal-landing {
    padding-left: 64px;
    padding-right: 64px;
  }

  .editors-gal-img {
    max-height: 250px;
  }

}

@media (min-width: 987px) {
  .editors-gal-img {
    max-height: 250px;
  }
} */

/* tablet */
/* @media (min-width: 768px) {
  .editors-img-gallery-row {
    margin-bottom: 32px;
  }

  #editors-gal-landing {
    padding: 32px 32px 0 32px;
  }

  .img-attribution-link {
    opacity: 0;
  }

  .editors-gal-img {
    max-height: 220px;
  }
}

@media (min-width: 600px) {
  .editors-gal-img {
    max-height: 260px;
  }
}

@media (min-width: 475px) {
  .editors-gal-img {
    max-height: 206px;
  }
} */

/* mobile */

/* @media (min-width: 415px) {
  .editors-gal-img {
    max-height: 176px;
    width: auto;
  }
} */


/* .ant-popover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1030;
  font-weight: normal;
  white-space: normal;
  text-align: left;
  cursor: auto;
  -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.ant-popover::after {
  position: absolute;
  background: rgba(255, 255, 255, 0.01);
  content: '';
}
.ant-popover-hidden {
  display: none;
}