
.landing-image-header {
  background-image: url('https://my5000px-static.s3.amazonaws.com/2000px/brooklyn-bridge.jpg');
  display: grid;
  place-items: center;
  height: 400px;
  background-blend-mode: multiply;
  background-color: #d6d6d6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.landing-gallery-container {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
}

.landing-header-content {
  display: grid;
  place-items: center;
  color: white;
}

.landing-header-content h2 {
  color: white;
}

.landing-gallery-header {
  display: grid;
  place-items: center;
  padding: 3em 0 1em 0;
}

.landing-gallery-header span {
  margin: 1em 0 1em 0;
}

/* .image-gallery-2-row {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  justify-content: center;
  max-width: 1330px;
  width: 100%;
  margin: 0px auto
} */

.gallery-4-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.editors-gallery-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.editors-gallery-col {
  flex: 23%;
  max-width: 25%;
  padding: 0 4px;
}

.editors-gallery-col img {
  margin-top: 8px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .editors-gallery-col {
    flex: 48%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .editors-gallery-col {
    flex: 100%;
    max-width: 100%;
  }
}

.photo-credit {
  position: absolute;
  bottom: 2px;
  right: 20px;
  font-size: 12px;
}

.photo-credit strong {
  font-weight: 600;
}

#info-1, #info-2, #info-3, #info-4 {
  min-height: 200px;
}

#landing-info {
  display: flex;
  flex-direction: column;
  margin: 0 64px 0 64px;
  padding: 25px 0 25px 0;
}

.info-container {
  display: flex;
  height: 50px;
}

#landing-page {
  overflow: hidden;
  z-index: 1;
  grid-column: 1 / span 12;
}

.simple-cta-section {
  padding: 64px;
  color: white;
  background-color: rgb(69, 69, 124);
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
}

.simple-section-copy {
  grid-row: 1 / span 1;
}

.simple-section-copy p {
  text-align: center;
}

.simple-cta-section h2 {
  margin-bottom: 16px;
  color: white;
  text-align: center;
}

.simple-section-buttons {
  grid-row: 2 / span 1;
  width: 100%;
  display: grid;
  grid-template-columns: 0.5fr 2fr 0.5fr;
}

.buttons-center {
  grid-column: 2 / span 1;
}