
.landing-image-header {
  display: grid;
  place-items: center;
  height: 400px;
  /* background-image: url('/app/assets/images/placeholder-image.png'); */
  background-color: #707070;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.landing-gallery-container {
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 0 64px 0 64px;
}

.landing-header-content {
  display: grid;
  place-items: center;
  color: white;
}

.landing-header-content h2 {
  color: white;
}

.landing-gallery-header {
  display: grid;
  place-items: center;
  padding: 3em 0 1em 0;
}

.landing-gallery-header span {
  margin: 1em 0 1em 0;
}

.landing-gallery-image-item {
  background-color: #707070;
  height: 225px;
  margin: 0.4em;
}

.image-gallery-2-row {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.gallery-4-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.photo-credit {
  position: absolute;
  bottom: 2px;
  right: 20px;
  font-size: 12px;
}

.photo-credit strong {
  font-weight: 600;
}

#info-1, #info-2, #info-3, #info-4 {
  min-height: 200px;
}

#landing-info {
  display: flex;
  flex-direction: column;
  margin: 0 64px 0 64px;
  padding: 25px 0 25px 0;
}

.info-container {
  display: flex;
  height: 50px;
}

#landing-page {
  overflow: hidden;
  z-index: 1;
}
