.photo-show-container {
  width: 100vw;
  max-width: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  /* position: relative; */
}

.lg-single-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  width: 100%;
  padding-top: 24px;
  padding-right: calc(80px);
  padding-bottom: 24px;
  padding-left: calc(80px);
  position: relative;
  box-sizing: border-box;
  min-height: 420px;
  height: calc((100vh - 72px) - 198px);
}

.full-screen-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222222;
  width: 100vw;
  position: absolute;
  top: 0;
  box-sizing: border-box;
  height: 100vmax;
  z-index: 2000;
}

.image-container, .image-top-icons {
  position: absolute;
  display: flex;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  inset: 32px 26px;
}

.image-container.full {
  inset: 32px 32px;
  max-height: calc(100vh - 72px);
}

.photo-large.full {
  top: 2.5rem;
}

.photo-large {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
  position: relative;
}

.image-top-icons {
  z-index: 20;
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
  padding: 0 14px;
}

.back-arrow {
  position: absolute;
  top: 0;
  left: 0;
}

.full-screen {
  position: absolute;
  top: 0;
  right: 0;
}

.photo-detail-summary {
  max-width: 100%;
  width: 50%;
  background-color: rgb(247, 248, 250);
  box-sizing: border-box;
  padding: 24px 8px 16px 16px;
}

.inset-box {
  padding: 24px;
  background-color: white;
  height: 100%;
}

.photo-action-icons {
  display: flex;
  max-width: 100%;
}
/* .like-box {

} */

.icon-box {
  min-width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-link {
  color: #222222;
  width: 24px;
  height: 24px;
  max-width: 100%;
}

.icon-box:hover {
  background-color: rgba(34, 34, 34, 0.1);
}


.profile-info {
  max-width: 100%;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  padding-bottom: 24px;
  margin-top: 24px;
  word-break: break-word;
}

.avatar-container { 
  display: flex;
  align-items: center;
  position: relative;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  background-color: rgb(213, 213, 213);
}

.avatar-container-sm { 
  display: flex;
  align-items: center;
  position: relative;
  width: 38px;
  height: 38px;
  overflow: hidden;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  background-color: rgb(213, 213, 213);
}

.user-details {
  word-break: break-word;
  max-width: 100%;
  margin-left: 14px;
}

.photo-show-title {
  margin-bottom: 4px;
}

.user-avatar-lg {
  border-radius: 50%;
  overflow: hidden;
  width: 64px;
  height: 64px;
  background-color: #d4d7d7;
}

a {
  cursor: pointer;
}

/* .photo-description {
} */

.detail-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 1.4rem;
}

.photo-date {
  font-size: 14px;
  line-height: 20px;
}

.photo-detail-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-transform: none;
  margin: 0px 4px 0px 0px;
  color: rgb(34, 34, 34);
}

.photo-detail-title.gear {
  margin-bottom: 6px;
}

.icon-wrapper, 
.ft-info-icon-wrapper, 
.gear-icon-wrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.gear-icon-wrapper {
  cursor: default;
}

.gear-row {
  margin-bottom: 8px;
}

.ft-photo-header {
  align-items: center;
  place-content: center;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: nowrap;
  gap: 4px;
}

.ft-info-icon-wrapper:hover::before {
  content: attr(data-before);
  font-size: 14px;
  z-index: 500;
  width: max-content;
  position: absolute;
  left: -94px;
  bottom: 31px;
  text-align: center;
  background: #fff;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 8px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 500ms ease-in-out;
}

.ft-info-icon-wrapper:hover::after {
  position: absolute;
  content: "";
  bottom: 54px;
  left: 52px;
  bottom: 23px;
  left: 2px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 9px solid #fff;
  animation: fadeIn 500ms ease-in-out;
  z-index: 500;
}

.photo-gear {
  margin-top: 10px;
  align-items: flex-start;
}

.gear-label {
  margin-left: 8px;
}

.category-detail-title {
  font-weight: 800;
  line-height: 20px;
  margin-right: 16px;
}
.category-link {
  align-items: baseline;
}

.right-arrow-wrapper {
  margin-left: 2px;
}

.follow-link {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.following {
  color: rgb(109, 115, 120);
}

.follow {
  color: #316ECA;
}

.follow:hover {
  color: rgb(41, 134, 247);
}

#following-wrapper:hover::before {
  content: attr(data-before);
  font-size: 16px;
  color: #316ECA;
  width: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
}

.modal-mask {
  box-sizing: border-box;
  padding: 0;
  background-color: rgba(0,0,0,.65);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  outline: 0;
  box-sizing: border-box;
}

.likes-modal {
  width: 450px;
  max-height: 100%;
  max-width: 100% !important;
  margin: 0%;
  position: relative;
  font-size: 14px;
  /* pointer-events: none; */
  padding: 16px 16px 0 16px;
  border-radius: 8px;
  background-color: #fff;
  background-clip: padding-box;
  box-sizing: border-box;
  text-align: left;
}

.modal-header {
  border: 0px;
  padding: 0px 0px 16px;
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 70px;
}
.icon-close-button {
  color: rgb(34, 34, 34);
  height: 72px;
  width: 72px;
  text-align: center;
  text-transform: none;
  position: absolute;
  top: 23px;
  left: 0px;
  cursor: pointer;
}

.icon-close-button:hover {
  color: #316ECA;
}

.modal-header-copy {
  height: 30px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  color: rgba(0,0,0,.85);
  font-size: 21px;
  line-height: 24px;
  font-weight: 700;
  text-transform: none;
  margin: 0px;
  color: rgb(34, 34, 34);
  word-wrap: break-word;
}

.likers-list {
  word-break: break-word;
  max-width: 100%;
  min-height: 248px;
  max-height: 670px;
  overflow-y: auto;
  box-sizing: border-box;
}

.liker-modal-list-item {
  max-width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.profile-summary-wrapper {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  min-width: 48px;
}

.liker-profile-summary, .profile-summary {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  overflow: hidden;
  align-items: flex-start;
  margin-left: 16px;
}

.follow-liker-button, .unfollow-button {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  border: 2px solid transparent;
}

.unfollow-button {
  background-color: #fff;
  color: #1b1b1b;
  border: 2px solid #316ECA;
  transition: all 200ms ease-in;
}

.unfollow-button:hover {
  background-color: rgb(233, 233, 233);
  border-color: rgb(237, 38, 38);
  color: rgb(237, 38, 38);
}

.photo-detail-title.liked, 
.profile-stats-section.followers,
.profile-stats-section.following {
  cursor: pointer;
}

.photo-detail-title.liked:hover,
.profile-stats-section.followers:hover,
.profile-stats-section.following:hover {
  color: #316ECA;
}

.photo-bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.comments-wrapper {
  max-width: 100%;
  width: 50%;
  background-color: rgb(247, 248, 250);
  box-sizing: border-box;
  padding: 24px 16px 16px 8px;
}

@media only screen and (max-width: 780px) {
  .comments-wrapper {
    width: 100%;
    padding: 0;
  }
  .photo-detail-summary {
    width: 100%;
    padding: 0;
  }
}

.comments-header {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: none;
  margin: 0px 0px 16px;
  font-weight: bold;
}

.comment-index-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #FFF;
  padding: 24px;
  height: 100%;
}

.comment-index-content {
  width: 100%;
}

.comment-item {
  word-break: break-word;
  max-width: 100%;
  flex-direction: column;
  display: flex;
  margin-bottom: 24px;
  box-sizing: border-box;
  position: relative;
}

.comment-content {
  word-break: break-word;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.comment-avatar {
  margin-right: 8px;
  box-sizing: border-box;
}

.comment-main {
  max-width: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.profile-name {
  margin: 0;
}

.comment-profile-name, .comment-body {
  word-break: break-word;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-profile-name {
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  color: rgb(34, 34, 34);
  transition: color 0.1s ease 0s;
}
.comment-profile-name:hover {
  color:  #316ECA;
  transition: color 0.1s ease 0s;
}

.comment-body-content {
  letter-spacing: 0px;
  text-transform: none;
  margin: 0px;
  box-sizing: border-box;
}

.comment-form-wrapper {
  word-break: break-word;
  max-width: 100%;
  width: 100%;
  display: flex;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.comment-form-avatar {
  display: flex;
  align-items: flex-start;
  margin-top: 8px;
  margin-right: 8px;
}

.comment-form-main {
  word-break: break-word;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

.comment-form {
  display: block;
  margin-top: 0;
  width: 100%;
  box-sizing: border-box;
}

.comment-input-wrapper {
  width: 100%;
}

.comment-input {
  font-size: 18px;
  line-height: 24px;
  background-image: url(https://my5000px-static.s3.amazonaws.com/comment_grey.330155a0.svg);
  background-repeat: no-repeat;
  background-position: 16px 14px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(215, 216, 219);
  border-radius: 4px;
  flex: 0 0 auto;
  resize: none;
  overflow: hidden;
  width: 100%;
  min-height: 46px;
  padding: 10px 16px 10px 40px;
}

.comment-input:focus {
  border-color: rgb(41, 134, 247);
}

.avatar-wrapper-comment {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; 
  background-color: rgb(213, 213, 213);
}

.comment-form-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
}

.post-comment {
  font-weight: 800;
  padding: 4px 14px;
  max-height: 32px;
  width: 85px;
}

.post-comment.disabled {
  background-color: rgb(182, 185, 187);
  border-color: rgb(182, 185, 187);
  color: rgb(255, 255, 255);
  pointer-events: none;
}

.comment-time {
  width: max-content;
  font-size: 12px;
  color: rgb(109, 115, 120);
  white-space: nowrap;
}

.comment-options-icon {
  cursor: pointer;
  height: 16px;
  width: 16px;
  word-break: break-word;
}

.comment-right {
  align-content: flex-end;
  align-items: flex-end;
  justify-content: space-between;
  width: max-content;
}

.comment-options-icon:hover {
  color: rgb(41, 134, 247);
}

.comment-modal-container {
  position: absolute;
  right: 34px;
  top: 12px;
  z-index: 50;
  display: flex;
  min-width: 100px;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2), 
  0px 0px 4px rgba(0, 0, 0, 0.08);
  background-color: white;
  box-sizing: border-box;
}

.comment-modal-container::before {
  content: "";
  position: absolute;
  top: 15px;
  right: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgb(255, 255, 255);
  filter: drop-shadow(rgba(0, 0, 0, 0.1) 2px 2px 1px);
}

.comment-modal-container:hover::before {
  border-left: 10px solid #316ECA;
}

.modal-list-item.comments {
  padding: 6px 17px;
}

.modal-list-item:hover {
  color: white;
}

.modal-list-item.comments:hover {
  cursor: pointer;
}

.no-comments-placeholder {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 256px;
  width: 100%;
}

.placeholder-copy {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  text-transform: none;
  margin: 16px 0px 0px;
}
.comment-icon-placeholder-wrapper, .comment-icon-placeholder-wrapper svg {
  height: 48px;
  width: 48px;
}