
.photo-upload-main {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  place-items: center;
  background-color: #F7F8FA;
}


#photo-upload-step-1 {
  grid-column: 5 / span 4;
  padding: 10rem 0 10rem 0;
}

.upload-input {
  display: grid;
  place-items: center;
  position: relative;
  padding: 1rem 0 2rem 0;
}

.hidden {
  display: none;
}

#img-preview-overlay {
  width: 100%;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(179.99deg,rgba(0,0,0,.47) .02%,hsla(0,0%,76.9%,0) 87.49%);
}

.img-overlay-hidden {
  display: none;
}

.img-overlay-show {
  display: block;
}

.img-overlay-show i {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
}

#upload-title-box.hidden {
  display: none;
}

#image-upload-step-2.hidden {
  display: none;
}

#image-upload-step-1, #image-upload-step-2 {
  min-height: 600px;
  max-height: 100vh;
}

#image-upload-step-2 {
  grid-column: 1 / span 12;
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
  position: relative;
  top: 65px;
}

.image-preview {
  display: flex;
  flex-flow: column wrap;
  float: left;
  position: relative;
  top: 0px;
  left: 0px;
  max-width: 490px;
  height: auto;
}

.image-preview img {
  border: 2px solid #0870d1;
  width: calc(100% - 4px);
}

.photo-label-upload {
  font-size: 12px;
  overflow: hidden;
  line-height: 16px;
  font-weight: 400px;
  color: #6d7378;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#image-preview-container {
  grid-column: 1 / span 1;
  height: 100%;
  margin: 1rem 1rem 1rem 64px ;
}

#upload-form-container {
  grid-column: 2 / span 1;
  height: 100%;
  padding: 0 64px 0 12px;
}

.photo-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 100px 0 30px 0;
  position: relative;
  width: 402px;
  height: min-content;

  background: #FFFFFF;
  border: 1px solid #EEEFF2;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

#upload-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  text-align: center;
}

.photo-requirements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  margin: 2rem 0 0 0;

  background: #EEEFF2;
}

.page-top-banner {
  grid-column: 1 / span 12;
  z-index: 15;
  height: 56px;
  line-height: 56px;
  width: 100%;
  background-color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0 0 0 64px;
  display: flex;
  align-items: center;
  position: fixed;
}

#main-drop-zone.enabled.drag-on {
  opacity: 40%;
  transition: opacity 200ms ease-in-out;
}

#main-drop-zone.enabled {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #0870d1;
  opacity: 0%;
}

#main-drop-zone.disabled {
  pointer-events: none;
  display: none;
}