
.upload-container {
  display: block;
  width: 100vmin;
  height: 100vmin;
  max-width: 100%;
}

.photo-upload-main {
  display: grid;
  place-items: center;
  width: 100vmax;
  min-height: 100vh;
  background-color: #F7F8FA;
}


#photo-upload-step-1 {
  padding: 0 0 10rem 0;
}

.upload-input {
  display: grid;
  place-items: center;
  position: relative;
  padding: 1rem 0 2rem 0;
  z-index: 200;
}

.hidden {
  display: none;
}

#img-preview-overlay {
  width: 100%;
  height: 64px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(179.99deg,rgba(0,0,0,.47) .02%,hsla(0,0%,76.9%,0) 87.49%);
}

.img-overlay-hidden {
  display: none;
  opacity: 0%;
}

.img-overlay-show {
  display: block;
  opacity: 100%;
  transform: opacity 200ms ease-in-out;
}

.img-overlay-show i {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  cursor: pointer;
}

#upload-title-box.hidden {
  display: none;
}

#image-upload-step-2.hidden {
  display: none;
}

#image-upload-step-1, #image-upload-step-2 {
  min-height: 600px;
  max-height: 100vh;
}

#image-upload-step-2 {
  box-sizing: border-box;
  padding: 24px 64px 0;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}


/* adjust for screen sizes */
.image-preview {
  position: relative;
  float: left;
  top: 0px;
  left: 0px;
  max-width: 400px;
  height: auto;
}

/* adjust for screen sizes */
.image-preview-img {
  border: 2px solid #0870d1;
  width: 400px;
  height: auto;
}
/* adjust for screen sizes */
.photo-label-upload {
  position: absolute;
  line-height: 16px;
  width: 100%;
  color: #6d7378;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  bottom: -20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#image-preview-container {
  margin-right: 3rem;
  overflow: hidden;
  height: calc(100% + 24px);
  padding-bottom: 20px;
  position: relative;
}

#upload-form-container {
  width: 400px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 0 16px;
  position: relative;
}

.photo-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  width: 402px;
  height: min-content;

  background: #FFFFFF;
  border: 1px solid #EEEFF2;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

#upload-title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  text-align: center;
}

.photo-requirements {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  margin: 2rem 0 0 0;

  background: #EEEFF2;
}

.page-top-banner {
  grid-column: 1 / span 12;
  z-index: 15;
  height: 56px;
  line-height: 56px;
  width: 100%;
  background-color: #ffffff;
  font-size: 21px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 0 0 0 64px;
  display: flex;
  align-items: center;
  position: absolute;
}

#main-drop-zone.enabled.drag-on {
  opacity: 40%;
  transition: opacity 200ms ease-in-out;
}

#main-drop-zone.enabled {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
  z-index: 100;
  background-color: #0870d1;
  opacity: 0%;
}

#main-drop-zone.disabled {
  pointer-events: none;
  display: none;
}

#upload-title-box i {
  margin-bottom: 1rem;
}

.description-input {
  width: 100%;
  height: 150px;
  padding: 12px 11px;
  margin: 4px 0px;
  box-sizing: border-box;
  border: 1px solid #D7D8DB;
  border-radius: 3px;
  resize: none;
}

.description-input:focus {
  border: 1px solid #316ECA;
  background-color: #fdfdfd;
}


.upload-photo-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  position: static;
  height: 46px;
  left: 208px;
  top: 8px;
  background: #316ECA;
  border-radius: 30px;
  color: white;
  font-weight: 600;
  margin-left: 1rem;
}

.cancel-upload {
  font-size: 16px;
  font-weight: 600;
  color: #316ECA;
  cursor: pointer;
}

.cancel-upload:hover {
  color: #2B5FA8
}

.upload-photo-button:hover {
  background-color: #2986F7;
}

.upload-photo-button:focus {
  background-color: #2B5FA8;
}

.form-bot-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}