.profile-settings {
  grid-column: 1 / span 12;
  height: 100%;
  background-color: #F7F8FA;
  overflow: hidden;
}

#profile-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  align-items: center;
}

#profile-photo-form {
  /* visibility: hidden; */
  position: absolute;
  top: -40px;
  right: -82px;
}

#profile-photo-form img {
  border-radius: 100px;
  width: 75px;
}

#profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  margin: 100px 0 30px 0;
  position: relative;
  width: 402px;
  height: min-content;

  background: #FFFFFF;
  /* light-grey */

  border: 1px solid #EEEFF2;
  box-sizing: border-box;
}

#session-form > .form-title {
  padding-bottom: 15px;
}

#gender-radio-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.radio-item {
  display: flex;
  align-items: center;
}

.radio-item > input {
  margin-right: 0.5rem;
}

.radio-item > label {
  white-space: nowrap;
}

/* .profile-form-subtitle {

} */

.profile-form-title {
  margin-bottom: 32px;
  display: flex;
  width: 100%;
}
.profile-form-title > span {
  font-size: 18px;
  font-weight: 700;
  color: #222;
  line-height: 24px;
}

#about {
  width: 100%;
  height: 150px;
  padding: 12px 11px;
    margin: 4px 0px;
  box-sizing: border-box;
  border: 1px solid #D7D8DB;
  border-radius: 3px;
  resize: none;
}
.profile-image-form {
  display: grid;
  grid-template-rows: 1fr 1fr fr;
}

.profile-form-label {
  font-size: 14px;
  line-height: 20px;
  color: rgb(109, 115, 120);
  margin-bottom: 4px;
}

.profile-upload-input {
  display: flex;
  max-width: 100%;
}

.profile-upload-photo-button {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 30px;
  height: 32px;

  background: #316ECA;
  border-radius: 30px;
}

.profile-upload-photo-button:hover {
  background-color: #265cac;
}

.profile-upload-photo-button:focus {
  background-color: #3b7fe6;
}

