.profile-settings {
  grid-column: 1 / span 12;
  height: 100%;
  background-color: #F7F8FA;
  overflow: hidden;
}

.main-avatar-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  align-items: flex-end;
  width: 100%;
  align-items: center;
}

#profile-photo-form {
  display: grid;
  grid-template-columns: auto 1fr;
}

#profile-photo-form img {
  border-radius: 100px;
  width: 75px;
}

#profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  margin: 100px 0 30px 0;
  position: relative;
  width: 402px;
  height: min-content;

  background: #FFFFFF;

  border: 1px solid #EEEFF2;
  box-sizing: border-box;
}

#session-form > .form-title {
  padding-bottom: 15px;
}

#gender-radio-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}

.radio-item {
  display: flex;
  align-items: center;
}

.radio-item > input {
  margin-right: 0.5rem;
}

.radio-item > label {
  white-space: nowrap;
}

.profile-form-title {
  margin-bottom: 16px;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
.profile-title-copy {
  font-size: 18px;
  font-weight: 700;
  color: #222;
  line-height: 24px;
}

.profile-form-instructions {
  font-size: 16px;
  font-weight: 400;
  color: #222222;
  margin-top: 0.5rem;
}

.skip-profile-form {
  color: #2B5FA8;
}

.skip-profile-form:hover {
  color: #316ECA
}

#about {
  width: 100%;
  height: 150px;
  padding: 12px 11px;
  margin: 4px 0px;
  box-sizing: border-box;
  border: 1px solid #D7D8DB;
  border-radius: 3px;
  resize: none;
}
.profile-image-form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.profile-form-label {
  font-size: 14px;
  line-height: 20px;
  color: rgb(109, 115, 120);
  margin-bottom: 4px;
}

.profile-upload-input {
  display: flex;
  max-width: 100%;
}

.profile-upload-photo-button {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 30px;
  height: 32px;

  background: #316ECA;
  border-radius: 30px;
}

.profile-upload-photo-button:hover {
  background-color: #265cac;
}

.profile-upload-photo-button:focus {
  background-color: #3b7fe6;
}

.avatar-input-label, .cover-input-label {
  cursor: pointer;
}

#avatar-input, #cover-input {
  display: none;
}

.avatar-form:hover::before {
  content: "Upload a new avatar";
  z-index: 500;
  width: max-content;
  position: absolute;
  left: 115px;
  top: -7px;
  text-align: end;
  background: #eeeeee;
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 500ms ease-in-out;
}

.avatar-form:hover::after {
  position: absolute;
  content: "";
  top: 6px;
  right: -16px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  border-right: 8px solid #eee;
  animation: fadeIn 500ms ease-in-out;
  z-index: 500;
}

.avatar-form {
  position: relative;
  cursor: pointer;
}

.show {
  visibility: visible;
}

.hide {
  visibility: hidden;
}

#cover-img-box-input:hover {
  border: 2px solid #265cac;
}
#cover-img-box-input {
  border: 2px solid transparent;
}

.file-input-wrapper.cover {
  top: 20px;
  right: 20px;
  z-index: 200;
  display: flex;
  visibility: visible;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 30%);
  cursor: pointer;
  transition: transform 250ms ease-in-out;
}

.file-input-wrapper {
  top: -5px;
  right: -5px;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  width: 32px;
  height: 32px;
  position: absolute;
  border-radius: 50%;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0px 0px 12px rgb(0 0 0 / 30%);
  cursor: pointer;
  z-index: 200;
  transition: transform 250ms ease-in-out;
}

.file-input-wrapper:hover {
  transform: scale(110%);
}

.profile-avatar-container-form {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 100px;
}