
.session {
  grid-column: 1 / span 12;
  min-height: 92vh;
  max-height: fit-content;
  background-color: #F7F8FA;
  padding: 20px 0;
}

#session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px 30px 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

  position: relative;
  width: 402px;
  height: min-content;

  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

  border: 1px solid #EEEFF2;
  box-sizing: border-box;
}

#session-form > h3 {
  padding-bottom: 15px;
}

#session-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  align-items: center;
}

#session-form label {
  font-size: 14px;
  color: #6E7377;
}

.alt-session-link {
  display: flex;
  margin-top: 1rem;
  align-items: center;
  padding: 10px;
}
.alt-session-link > p {
  margin-right: 0.5rem;
}

.alt-session-link a {
  color: rgb(8, 112, 209);
}

.alt-session-link a:hover {
  text-decoration: underline;
}

.session-error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.3rem;
  margin-bottom: 1.2rem;
}

.session-error {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.fa-circle-check {
  color: #409817;
}

.fa-circle-xmark {
  color: #A33833;
}

.signup.disabled {
  cursor: not-allowed;
  background-color: #616161;
}

.signup.disabled:hover {
  background-color: #616161;
}

.signup.disabled:hover::before {
  content: "All fields must be filled out properly";
  font-size: 14px;
  z-index: 500;
  width: max-content;
  position: absolute;
  left: 64px;
  top: -11px;
  text-align: end;
  background: #ffffff;
  color: rgb(104, 9, 9);
  padding: 0.4rem;
  border-radius: 4px;
  box-shadow: 0px 2px 16px rgb(0 0 0 / 30%);
  animation: fadeIn 500ms ease-in-out;
}