
.session {
  grid-column: 1 / span 12;
  height: 100vh;
  background-color: #F7F8FA;
}

#session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

  position: absolute;
  width: 402px;
  height: min-content;
  left: calc(50% - 402px/2);
  top: calc(50% - 591px/2);

  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);

  border: 1px solid #EEEFF2;
  box-sizing: border-box;
}

#session-form > h3 {
  padding-bottom: 15px;
}

#session-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 100%;
  align-items: center;
}

#session-form label {
  font-size: 14px;
  color: #6E7377;
}

.alt-session-link {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  padding: 10px;
}
.alt-session-link > p {
  margin-right: 0.5rem;
}