footer {
  grid-column: 1 / span 12;
  padding: 32px 68px 0 68px;
}

#navFooter {
  display: grid;
  grid-template-rows: auto auto;
}

#footer-top {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(135px, 1fr));
}

#footer-top h5, #footer-top a, #footer-top i {
  color: rgb(109, 115, 120);
}

#footer-top a:hover {
  color: #316ECA;
}

#footer-bottom {
  padding: 2rem 0 1rem 0;
  border-top: 1px solid #c6c8cc;
  left:0px;
  bottom:0px;
  height: fit-content;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.footer-link-list {
  display: flex;
  flex-direction: column;
}

.footer-link-list a {
  margin-bottom: 16px;
}

.footer-logo {
  width: 120px;
}

.footer-icon-link {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  place-content: center;
  justify-content: flex-start;
  align-content: center;
  gap: 6px;
}

.icon-wrapper.footer {
  width: 20px;
  height: 20px;
}